/ Footer
%footer
  .container
    .row
      .col-lg-12.footer-links
        %ul.list-inline.text-center.text-muted
          = partial "layouts/navlinks"
      .col-lg-12
        %p.text-muted.small.text-center
          Copyright
          &copy;
          %span#year
          Mitchell Contractors, Inc. &nbsp;All Rights Reserved.
          %br
          Contractors License Number: MITCHCI044MN
