/ Header
.carousel-container
  #carousel-main-header.carousel.slide{ data:{ride:"carousel" } }
    %ol.carousel-indicators
      %li.active{ data:{target:"#carousel-main-header", slide:{to:"0"}}}
      %li{ data:{target:"#carousel-main-header", slide:{to:"1"}}}
      %li{ data:{target:"#carousel-main-header", slide:{to:"2"}}}

    .carousel-inner{role: "listbox"}
      .item.active
        = link_to (image_tag 'project-images/MCI-four-freedoms/MCI-four-freedoms-1.jpg', alt: "Mitchell Contracting", class: 'img-responsive'), '/our-projects/four-freedoms'
        .carousel-caption
          .carousel-caption-content
            %h2.work-class Senior Living
            %h3.text-left
              %i "Four Freedoms House of Seattle"
      .item
        = link_to (image_tag 'project-images/MCI-tenant-improvements-1.jpg', alt: "Mitchell Contracting", class: 'img-responsive'), '/'
        .carousel-caption
          .carousel-caption-content
            %h2.work-class Tenant Improvement
            %h3 &nbsp;

      .item
        = link_to (image_tag 'project-images/MCI-catastrophic-loss-1.jpg', alt: "Mitchell Contracting", class: 'img-responsive'), '/'
        .carousel-caption
          .carousel-caption-content
            %h2.work-class Catastrophic Loss
            %h3 &nbsp;

    %a.left.carousel-control{ href: "#carousel-main-header", role: "button", data:{slide: "prev"}}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous

    %a.right.carousel-control{ href:"#carousel-main-header", role:"button", data:{slide:"next"}}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next
