/ Header
.carousel-container
  #carousel-main-header.carousel.slide{ data:{ride:"carousel" } }
    .carousel-caption.hidden-xs
      .row.carousel-caption-content
        .col-md-4.carousel-caption-logo
          = inline_svg('mci-logo', class: "img-responsive carousel-brand-svg mci-logo-svg")
        .col-md-8.carousel-caption-sub
          %h2><
            %small><
              - data_count = data.services.length - 1
              - data.services.each_with_index do |serv, i|
                - unless data_count == i
                  #{serv['title']},&nbsp;
                - else
                  #{serv['title']}
    .carousel-inner{role: "listbox"}
      - image_paths_in("images/project-images/MCI-misc/").each do |image_resource|
        .item
          = link_to (image_tag image_resource, alt: "Mitchell Contractors", class: 'img-responsive'), '/our-projects/four-freedoms'


    %a.left.carousel-control{ href: "#carousel-main-header", role: "button", data:{slide: "prev"}}
      %span.glyphicon.glyphicon-chevron-left
      %span.sr-only Previous

    %a.right.carousel-control{ href:"#carousel-main-header", role:"button", data:{slide:"next"}}
      %span.glyphicon.glyphicon-chevron-right
      %span.sr-only Next
:javascript
  $('.item').eq(Math.floor((Math.random() * $('.item').length))).addClass("active");