= partial "layouts/header_carousel"

.container.call-out-section
  .row#services
    .col-md-10.col-md-offset-1.col-xs-12
      %h3.call-out-content.text-center
        %i.fa.fa-quote-left
        %i= locals[:page_slogan]
        %i.fa.fa-quote-right

.content-section-a
  .container
    .row
      .col-md-12.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Construction Management
        %hr.section-heading-spacer/
        .clearfix
        %p.clear-left><
          Our dedication to service is exemplified in our Construction Management Process. We fit the right people for each job. Each job is assigned a full time Project Manager and a separate Superintendent. Their focus is your job from commencement to completion. Before the project begins, on-site Subcontractor meetings are put in to a master construction schedule. This allows for complete planning and accountability throughout the entire construction process. We are a lean Management Team, constantly on the hunt for cost saving practices and ways to implement efficient procedures. This mentality results in significant price reductions. We utilize our extensive experience, knowledge and technology to deliver the most affordable construction solutions.
        %p.clear-left><
          Construction management is essential for ensuring a well-run, problem-free project, and our experienced project teams handle the construction process with careful expertise. They execute and monitor the construction schedule, supervise and coordinate the execution of work, and provide progress reports at regular meetings with clients and trades/engineering consultants to ensure the construction process runs smoothly every step of the way.
        %p.clear-left><
          A CM may have the expertise to perform the following functions on behalf of the owner:

        %ul.biography-list
          %li Assist in project scope
          %li Assist in land acquisition
          %li Assist in permitting
          %li Cash flow management
          %li Cost estimating
          %li Cost and schedule control
          %li Contract Administration
          %li Document control
          %li Construction Inspection
          %li Quality control
          %li Value engineering
          %li Risk management
          %li Constructibility review
          %li Contracting and project delivery systems
          %li Dispute avoidance and resolution

        %p.clear-left><
          A CM provides a specialized level of knowledge, experiences and expertise that most owners do not have.  This applies particularly to complex construction projects that require a wide array of skills to successfully manage to completion.  The CM adds value by providing the resources and expertise needed to manage quality, cost, schedule, scope and risks associated with design and construction to help the Owner achieve its objectives.

        %h4= link_to "Contact Us for More Information", "/contact#contact_form", class: "text-size-lg"