= partial "layouts/header_carousel"

.container.call-out-section
  .row
    .col-md-10.col-md-offset-1.col-xs-12
      %h3.call-out-content.text-center
        %i.fa.fa-quote-left
        %i= locals[:page_slogan]
        %i.fa.fa-quote-right

.content-section-a
  .container
    .row.contact-form
      .col-md-5.col-xs-12
        %h3.section-heading.margin-bottomgap0.med-blue
          Contact Us
        %hr.section-heading-spacer/

        .clearfix
        %form{ id: "contactForm", role: "form" }
          .form-group
            %label{ for: "fullname", class: 'form-label'} Name
            %input{ type: 'text', class: "form-control", id: 'fullname', name: 'fullname', placeholder: "Enter Name"}
          .form-group
            %label{ for: "email", class: 'form-label' } Email
            %input{ type: 'email', class: "form-control", id: 'email', name: 'email', placeholder: "Enter Email"}
          .form-group
            %label{ for: "phone", class: 'form-label' } Phone
            %input{ type: 'text', class: "form-control", id: 'phone', name: 'phone', placeholder: "Enter Phone Number"}
          .form-group
            %label{ for: "description", class: 'form-label' } Description
            %textarea{ rows: "3", class: "form-control", id: 'description', name: 'description', placeholder: "Brief Description"}
          .form-group
            .checkbox
              %label
                %input{ type: "checkbox", id: "contact_approval", value: "contact_approval", name: "contact_approval" } Do you want us to contact you?

          .form-group
            .col-sm-offset-2.col-sm-10
              %button.btn.btn-primary.contact-form-button{ type: "submit" }
                %i.fa.fa-paper-plane
                Contact Us
      .col-md-4.col-xs-12
        %h3.section-heading.margin-bottomgap0.med-blue
          &nbsp;

        %ul.list-unstyled.contact-form-list.clear-left
          %li.list-title Address:
          %li
            Mitchell Contractors Inc
            %br/
            PO Box 167
            %br/
            Vashon, WA 98070

        = image_tag 'project-images/MCI-misc/MCI-misc-2.jpg', class: "content-section-image img-responsive", alt: "Mitchell Contractors"
        %p.content-section-caption.text-center.work-class Site Improvements
:javascript
  $("#contactForm").validate({
    rules: {
      fullname: "required",
      email: {
        required: true,
        email: true
      },
      phone: "required",
      contact_approval: "required"
    },

    submitHandler: function(form) {
      $.ajax({
        dataType: 'jsonp',
        url: "http://getsimpleform.com/messages/ajax?form_api_token=0d19ff6f33cd520387cb2cea69cc4a20f31724f3",
            data: $("#contactForm").serialize()
          }).done(function() {

        window.location.href = "/thank-you";
      });
    }
  });