.content-section-a
  .container
    .row.project
      .col-md-3.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Our Staff
        %hr.section-heading-spacer/
        .clearfix

.banner
  .banner-bar
    .container
      .row
        .col-md-12
          %h2 Getting the job done right, the first time...  on time, on budget!