---
title: Mitchell Contracting | Welcome
body_class: index
---
= partial "layouts/navigation"

= partial "layouts/header_carousel"

/ Page Content
.row.call-out-section
  .call-out-circle
  %h3.col-xs-10.col-xs-push-2 Pellentesque nibh felis, eleifend id, commodo in, interdum vitae, leo. Praesent eu elit. Ut eu ligula.

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Pellentesque
          %br
          Praesent eu elit. Ut eu ligula.
        %hr.section-heading-spacer
        .clearfix
        .row.lead
          .col-md-12
            %h4.red-orange.dress-class Praesent eu elit. Ut eu ligula.
            %ul.lead-point
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.
              %li Praesent eu elit. Ut eu ligula.

      .col-lg-7.col-sm-6
        / %img.img-responsive{alt: "", src: "images/product-image.png"}
    .row
      %hr.section-body-spacer
      .col-lg-12.col-sm-6.text-center
        %h3.section-base-heading Clients, Clients, Clients

.content-section-b
  .container
    .row
      .col-lg-5.col-sm-push-7.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Phasellus sagittis, nulla in
        %hr.section-heading-spacer/
        .clearfix
        %p.section-body-text
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque. Nullam consequat, sem vitae rhoncus tristique, mauris nulla fermentum est, bibendum ullamcorper sapien magna et quam. Sed dapibus vehicula odio. Proin bibendum gravida nisl. Fusce lorem. Phasellus sagittis, nulla in hendrerit laoreet, libero lacus feugiat urna, eget hendrerit pede magna vitae lorem. Praesent mauris.
      .col-lg-7.col-sm-pull-5.col-sm-6
        / %img.img-responsive{ alt: "Alaris Sun", src: "images/alaris-sun_v1.png"}/

.content-section-a
  .container
    .row
      .col-lg-12.col-sm-6
        %h2.section-heading.margin-bottomgap0.med-blue
          Sed dapibus vehicula odio
        %hr.section-heading-spacer/
        .clearfix
        .col-lg-5.col-sm-5.testimonial
          %h3.testimonial-callout
            Nullam consequat, sem vitae rhoncus tristique
          .col-lg-1.padding-topgap5
            %i.fa.fa-quote-left.fa-fw.fa-2x
          .col-lg-11.col-sm-5
            %p.section-body-text><
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque. Nullam consequat, sem vitae rhoncus tristique, mauris nulla fermentum est, bibendum ullamcorper sapien magna et quam. Sed dapibus vehicula odio. Proin bibendum gravida nisl. Fusce lorem. Phasellus sagittis, nulla in hendrerit laoreet, libero lacus feugiat urna, eget hendrerit pede magna vitae lorem. Praesent mauris.
              %i.fa.fa-quote-right.fa-fw.fa-lg
            %p.testimonial-name ~John D.
        .col-lg-7.col-sm-6
          .video-block
            .embed-responsive.embed-responsive-16by9

.banner
  .banner-bar
    .container
      .row
        .col-lg-6
          %h2.text-right Find out more.
        .col-lg-6
          %ul.list-inline.banner-social-buttons
            %li
              %a.btn.btn-primary.btn-lg{ href: "https://twitter.com"}
                %i.fa.fa-twitter.fa-fw
                %span.banner-social-name Twitter
            %li
              %a.btn.btn-primary.btn-lg{ href: "http://facebok.com"}
                %i.fa.fa-facebook.fa-fw
                %span.banner-social-name Facebook
            %li
              %a.btn.btn-primary.btn-lg{ href: "http://linkedin.com"}
                %i.fa.fa-linkedin.fa-fw
                %span.banner-social-name Linkedin