---
title: Mitchell Contractors | Our Projects
body_class: projects
---
= partial "layouts/navigation"

= render_page_partial(locals[:id], locals[:page_slogan], locals[:name])

= partial "layouts/bottom_banner"