---
title: Mitchell Contracting | Our Projects
body_class: projects
---
= partial "layouts/navigation"

= partial "layouts/header_carousel"

/ Page Content
.container.call-out-section
  .row
    .col-md-2.col-xs-4.text-center
      .call-out-circle.hidden-xs= image_tag 'client-logos/logo-era-living.png', alt: "Mitchell Contracting", class: 'call-out-client-logo'
    .col-md-10.col-xs-10.col-md-offset-0.col-xs-offset-1
      %h3.call-out-content
        "Testimonial: Class aptent taciti sociosqu ad litora torquent per conubia nostra. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Class aptent taciti sociosqu."

.content-section-a
  .container
    .row.project
      .col-md-3.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Outline
        %hr.section-heading-spacer/
        .clearfix
        %ul.list-unstyled.project-outline-list
          %li.list-title Client
          %li Some Body
          %li.list-title Architect
          %li Mr. Architect
          %li.list-title Location
          %li Vashon, WA
          %li.list-title Duration
          %li 3 months
          %li.list-title Core Market
          %li Senior Living
          %li
          %li
          %li
      .col-md-8.col-sm-6
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Story
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque. Nullam consequat, sem vitae rhoncus tristique, mauris nulla fermentum est, bibendum ullamcorper sapien magna et quam. Sed dapibus vehicula odio. Proin bibendum gravida nisl. Fusce lorem. Phasellus sagittis, nulla in hendrerit laoreet, libero lacus feugiat urna, eget hendrerit pede magna vitae lorem. Praesent mauris.
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Objective
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl. Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque.
        %h3.section-heading.margin-bottomgap0.med-blue
          Project Solution
        %hr.section-heading-spacer/
        %p.section-body-text.clear-left
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Maecenas elementum augue nec nisl.    Proin auctor lorem at nibh. Curabitur nulla purus, feugiat id, elementum in, lobortis quis, pede. Vivamus sodales adipiscing sapien. Vestibulum posuere nulla eget wisi. Integer volutpat ligula eget enim. Suspendisse vitae arcu. Quisque pellentesque.
.banner
  .banner-bar
    .container
      .row
        .col-md-12
          %h2 Getting the job done right, the first time...  on time, on budget!